/bayeslite.egg-info/
/build/
/dist/
/external/lemonade/dist/lemonade/*.pyc
/notes/gpm/gpm.aux
/notes/gpm/gpm.dvi
/notes/gpm/gpm.log
/notes/gpm/gpm.pdf
/shell/tests/thooks.pyc
/src/grammar.out
/src/grammar.py
/src/version.py
__pycache__/
