include LICENSE.txt
include README.md
include VERSION
include check.sh
include external/README
include external/lemonade/COPYING
include external/lemonade/dist/MANIFEST.in
include external/lemonade/dist/PKG-INFO
include external/lemonade/dist/README
include external/lemonade/dist/bin/lemonade
include external/lemonade/dist/examples/calc/calc.py
include external/lemonade/dist/examples/calc/gram.y
include external/lemonade/dist/lemonade/__init__.py
include external/lemonade/dist/lemonade/action.py
include external/lemonade/dist/lemonade/acttab.py
include external/lemonade/dist/lemonade/build.py
include external/lemonade/dist/lemonade/ccruft.py
include external/lemonade/dist/lemonade/configlist.py
include external/lemonade/dist/lemonade/error.py
include external/lemonade/dist/lemonade/exceptions.py
include external/lemonade/dist/lemonade/lempar.tmpl
include external/lemonade/dist/lemonade/main.py
include external/lemonade/dist/lemonade/msort.py
include external/lemonade/dist/lemonade/parse.py
include external/lemonade/dist/lemonade/plink.py
include external/lemonade/dist/lemonade/report.py
include external/lemonade/dist/lemonade/set.py
include external/lemonade/dist/lemonade/struct.py
include external/lemonade/dist/lemonade/table.py
include external/lemonade/dist/setup.py
include external/plex/COPYING
include external/plex/dist/Makefile
include external/plex/dist/Plex/Actions.py
include external/plex/dist/Plex/DFA.py
include external/plex/dist/Plex/Errors.py
include external/plex/dist/Plex/Lexicons.py
include external/plex/dist/Plex/Machines.py
include external/plex/dist/Plex/Regexps.py
include external/plex/dist/Plex/Scanners.py
include external/plex/dist/Plex/Timing.py
include external/plex/dist/Plex/Traditional.py
include external/plex/dist/Plex/Transitions.py
include external/plex/dist/Plex/__init__.py
include external/plex/dist/README
include external/plex/dist/TODO
include external/plex/dist/doc/Reference.html
include external/plex/dist/doc/Tutorial.html
include external/plex/dist/doc/index.html
include external/plex/dist/examples/example1and2.in
include external/plex/dist/examples/example1and2.py
include external/plex/dist/examples/example3.in
include external/plex/dist/examples/example3.py
include external/plex/dist/examples/example4.in
include external/plex/dist/examples/example4.py
include external/plex/dist/examples/example5.in
include external/plex/dist/examples/example5.py
include external/plex/dist/examples/example6.in
include external/plex/dist/examples/example6.py
include external/plex/dist/examples/example7.in
include external/plex/dist/examples/example7.py
include external/plex/dist/examples/pascal.in
include external/plex/dist/examples/pascal.py
include external/plex/dist/examples/python.in
include external/plex/dist/examples/python.py
include external/plex/dist/examples/speedtest.in
include external/plex/dist/examples/speedtest.py
include external/plex/dist/tests/Test.py
include external/plex/dist/tests/runtests.py
include external/plex/dist/tests/test0.in
include external/plex/dist/tests/test0.out
include external/plex/dist/tests/test0.py
include external/plex/dist/tests/test1.in
include external/plex/dist/tests/test1.out
include external/plex/dist/tests/test1.py
include external/plex/dist/tests/test10.out
include external/plex/dist/tests/test10.py
include external/plex/dist/tests/test11.in
include external/plex/dist/tests/test11.out
include external/plex/dist/tests/test11.py
include external/plex/dist/tests/test12.in
include external/plex/dist/tests/test12.out
include external/plex/dist/tests/test12.py
include external/plex/dist/tests/test2.in
include external/plex/dist/tests/test2.out
include external/plex/dist/tests/test2.py
include external/plex/dist/tests/test3.in
include external/plex/dist/tests/test3.out
include external/plex/dist/tests/test3.py
include external/plex/dist/tests/test4.in
include external/plex/dist/tests/test4.out
include external/plex/dist/tests/test4.py
include external/plex/dist/tests/test5.in
include external/plex/dist/tests/test5.out
include external/plex/dist/tests/test5.py
include external/plex/dist/tests/test6.in
include external/plex/dist/tests/test6.out
include external/plex/dist/tests/test6.py
include external/plex/dist/tests/test7.in
include external/plex/dist/tests/test7.out
include external/plex/dist/tests/test7.py
include external/plex/dist/tests/test8.in
include external/plex/dist/tests/test8.out
include external/plex/dist/tests/test8.py
include external/plex/dist/tests/test9.in
include external/plex/dist/tests/test9.out
include external/plex/dist/tests/test9.py
include external/plex/prepare.sh
include pythenv.sh
include shell/scripts/bayeslite
include shell/tests/test_pretty.py
include shell/tests/test_shell.py
include shell/tests/thooks.py
include src/grammar.sha256
include src/grammar.y
include tests/dha.csv
include tests/dha_codebook.csv
include tests/dha_models.pkl.gz
include tests/test_bql.py
include tests/test_codebook.py
include tests/test_column_dep.py
include tests/test_core.py
include tests/test_correlation.py
include tests/test_csv.py
include tests/test_geweke.py
include tests/test_guess.py
include tests/test_legacy.py
include tests/test_math_util.py
include tests/test_metamodels.py
include tests/test_parse.py
include tests/test_read_csv.py
include tests/test_schema.py
include tests/test_sessions.py
include tests/test_stats.py
include tests/test_subsample.py
